@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.encabezado {
    background-color: #333;
    padding: 10px 20px;
}

.contenedor-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    position: relative;
    left: 16px;
}

.lupa {
    cursor: pointer;
}

.Inicio {
    background: url('../images/background.png') no-repeat center center/cover;
    padding: 120px 120px;
    text-align: left;
}

.contenedor-inicio {
    max-width: 600px;
    margin: 0 auto 0 100px;
    font-family: 'Montserrat', sans-serif;
}

.lorem {
    font-size: 18px;
    position: relative;
    top: 90px;
    right: 65px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    position: relative;
    top: 100px;
    right: 70px;
}

.registrarse {
    background-color: #ff6600;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 22px;
    position: relative;
    top: 80px;
    right: 65px;
    cursor: pointer;
    text-transform: uppercase;
}

.pista-baile {
    background-color: #ff6600;
    padding: 50px 20px;
    text-align: center;
}

.Tour {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.baile-contenedor p {
    font-size: 16px;
    margin-bottom: 30px;
}

.baile-contenedor {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.objetos-bailes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.objetos-baile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #333;
}

.objetos-baile img {
    width: 100%;
    height: auto;
}

.objetos-baile h3 {
    font-family: 'Oswald', sans-serif;
    margin: 10px 0 5px;
    text-transform: uppercase;
}

.objetos-baile p {
    font-size: 14px;
}

.membrecia {
    background-color: #333;
    padding: 50px 20px;
    text-align: center;
}

.contenedor-membrecia {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor-membrecia h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contenedor-membrecia p {
    font-size: 16px;
    margin-bottom: 30px;
}

.precios {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.precio {
    background-color: #ff6600;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propaganda {
    margin-bottom: 10px;
}

.precio h3 {
    font-family: 'Oswald', sans-serif;
    margin: 10px 0;
    text-transform: uppercase;
}

.precio p {
    margin-bottom: 20px;
    font-size: 14px;
}

.costo {
    background-color: #333;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 22px;
}

.pie {
    background-color: #ff6600;
    padding: 20px;
    text-align: center;
}

@media (max-width: 1278px) {
    .contenedor-inicio {
        margin: 0 auto;
    }
}

@media (min-width:768px) and (max-width:1277px) {
    .objetos-bailes, .precios {
        flex-direction: column;
        align-items: center;
    }
    .Inicio {
      padding: 100px 258px;
      width: 252px;
      height: 120px;
      text-align: left;
}
    .titulo {
      position: relative;
      bottom: 60px;
      font-size: 60px;
      justify-content: center;
    }
    .lorem {
      font-size: 17px;
      position: relative;
      bottom: 50px;
    }
    .registrarse {
      padding: 10px 10px;
      position: relative;
      bottom: 65px;
      font-size: 20px;
    }
}

@media (min-width: 352px) and (max-width: 767px) {
    .objetos-bailes, .precios {
        flex-direction: column;
        align-items: center;
    }
    .Inicio {
        padding: 12px 50px;
        width: 252px;
        height: 120px;
        text-align: left;
}
    .titulo {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .lorem {
        font-size: 10px;
    }
    .registrarse {
        padding: 5px 10px;
        position: relative;
        bottom: 20px;
        font-size: 10px;
    }
    .Tour, .contenedor-membrecia h2 {
        font-size: 30px;
    }
}